window {
  margin: 0px;
  border: 1px solid #a8a8a8;
  border-radius: 2px;
  background-color: #191a1b;
  font-family: Iosevka SS08;
  font-size: 16px;
}

#input {
  margin: 5px;
  border: 1px solid #a8a8a8;
  color: #eceff4;
  background-color: #191a1b;
}

#input image {
  color: #eceff4;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #191a1b;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #191a1b;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #ffffff;
}

#entry:selected {
  background-color: #3c3c3c;
  font-weight: normal;
}

#text:selected {
  background-color: #3c3c3c;
  font-weight: normal;
}
