# modus-vivendi

set $base00 #000000
set $base01 #ff8059
set $base02 #44bc44
set $base03 #d0bc00
set $base04 #2fafff
set $base05 #feacd0
set $base06 #00d3d0
set $base07 #bfbfbf
set $base08 #595959
set $base09 #ef8b50
set $base0A #70b900
set $base0B #c0c530
set $base0C #79a8ff
set $base0D #b6a0ff
set $base0E #6ae4b9
set $base0F #ff8059
